aside{
    height: calc(100vh - var(--header-height));
    width: var(--sidebar-width);
    background-color: blueviolet;
    color: azure;
    position: fixed;
}

aside p{
    margin: 10;
    padding-left: 5px;
}